<div class="container_dicas">
	<h4>Adicionando Repositório do SoundCloud</h4>

	<ol>
		<span class="text-justify">
			Atualmente o portal não permite que o artista envie para nossos servidores arquivos de músicas. Então crie um perfil no site SoundCoud <strong><%= link_to "(Clique aqui para acessar)", "https://soundcloud.com/", target: '_black' %></strong> para que o visitante possa escutar suas musicas, pois o portal Rap Gospel Brasil é integrado com a plataforma do SoundCloud.
		</span>
		
		<li>			
			Botão Adicionar repositório: Clique no botão “Adicionar repositório” para inserir seu perfil do SoundCloud conforme imagem abaixo:


			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_soundcloud_1.jpg") %>	
		</li>

		<li class='text-justify'>			
			 Copiando link do SoundCloud: Para inserir o perfil com as músicas do seu perfil em SoundCloud, basta acessar o seu perfil e copiar o endereço da página dentro do seu navegador, clicando com o botão direito do mouse e em seguida clicar em copiar. Veja imagem abaixo:


			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_soundcloud_2.jpg") %>	
		</li>
		
		<li class='text-justify'>			
			 Inserindo link de repositório: Agora que tem o link do seu perfil no SoundCloud, basta clicar com o botão direito do mouse no campo “Link” no Portal Rap Gospel e sem seguida clicar em “Colar” após ter feito isso, basta clicar em “Criar Link sound cloud. Veja imagem abaixo:

			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_soundcloud_3.jpg") %>	
		</li>

		
		
	</ol>

</div>
