<div class="container_dicas">
	<h4>Adicionando Rede Sociais</h4>

	<ol>
		O Portal Rap Gospel Brasil é integrado com as principais redes sociais.
		
		<li>			
			Botão Adicionar Rede Social: Clique no botão “Adicionar Rede social” conforme imagem abaixo:
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_redesocial_1.jpg") %>	
		</li>

		<li class='text-justify'>			
			 Copiando Link válido: Para inserir uma rede social ao seu perfil no portal, basta acessar seu perfil no facebook ou twitter e clicar no endereço que aparece no seu navegador, em seguida clique com o botão direito do mouse sobre este endereço e em seguida clique em “Copiar”. Veja imagem abaixo: 
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_redesocial_2.jpg") %>	
		</li>
		
		<li class='text-justify'>			
			 Inserindo rede social: Agora que tem o link (endereço) do seu usuário dentro do Twitter ou Facebook, basta acessar o portal Rap Gospel Brasil clicar no campo que pertence a rede social que acabou de copiar o link (endereço), e em seguida clicar com o botão direito do mouse e logo após clicar em “Colar” conforme imagem abaixo:
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_redesocial_3.jpg") %>	
		</li>
		
		
	</ol>

</div>
