<div class="container_dicas">
	<h4>Criando novo Artista</h4>

	<ol>
		<li class="text-justify">			
			Para ter acesso e seu próprio perfil de artista dentro do portal Rap Gospel Brasil é necessário criar um breve cadastro. Para isto basta acessar a página inicial do portal através do endereço: www.rapgospelbrasil.com.br e clicar no botão “Novo Artista” conforme imagem abaixo:	
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_artist_1.jpg") %>	
		</li>
		<li class="text-justify">			
			Você será direcionado para a página de cadastro com os campos Nome Senha e Repita a senha, e sendo obrigatório concordância com os termos de uso, portanto leia atentamento e clique confirmando que leu e concorda com nossos termos de uso. Segue imagem abaixo:
			
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_artist_2.jpg") %>

		</li>
	</ol>

</div>
