<div class="container_dicas">
	<h4>Adicionando novo Email</h4>

	<ol>
		O Portal permite que além do e-mail principal o artista pode adicionar quantos e-mails quiser para o visitante ter mais formas de contato com o artista. 
		<br><br>
		<strong>Obs.: Não cadastre o mesmo e-mail que utilizou no cadastro inicial do artista, pois o portal adiciona este e-mail automáticamente.</strong>

		<li>			
			Botão Adicionar E-mail: Clique no botão “Adicionar email” conforme imagem abaixo:
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_email_1.jpg") %>	
		</li>

		<li>			
			 Email: Digite o email que deseja adicionar.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_email_2.jpg") %>	
		</li>

		<li>			
			Confirmar: Para finalizar clique em “Adicionar Email” conforme imagem abaixo:
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_email_3.jpg") %>	
		</li>
		
	</ol>

</div>
