<div class="container_dicas">
	<h4>Adicionando novo telefone</h4>

	<ol>
		Além dos emails e mídias sociais é importante que o artista tenha números de contato para facilitar o contato de possíveis contratantes.

		<br><br>
		<strong>Obs.: O portal permite adicionar quantos números forem necessário.</strong>

		<li>			
			Botão Adicionar Novo Número: Clique no botão “Adicionar Novo Numero” conforme imagem abaixo:
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_telefone_1.jpg") %>	
		</li>

		<li>			
			 Telefone: Insira o telefone desejado e clique em “Inserir Numero”.
			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_telefone_2.jpg") %>	
		</li>

		
		
	</ol>

</div>
