<div class="container_dicas">
	<h4>Adicionando videos</h4>

	<ol>
		<span class="text-justify">
			O Portal Rap Gospel Brasil é integrado com o Youtube e com poucos cliques você pode inserir seus vídeos diretamente no seu perfil do portal Rap Gospel Brasil.
		</span>
		
		<li>			
			Botão Adicionar Vídeo: Clique no botão “Adicionar Video” conforme imagem abaixo:


			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_video_1.jpg") %>	
		</li>

		<li class='text-justify'>			
			 Inserindo vídeos: Vá ao seu vídeo dentro do YouTube e clique com o botão direito do mouse sobre o endereço que aparece em seu navegador,, em seguida clique em “Copiar”. Veja imagem abaixo:


			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_video_2.jpg") %>	
		</li>
		
		<li class='text-justify'>			
			 Inserindo vídeo dentro do portal: Agora que tem o link (endereço) do seu vídeo no YouTube, basta acessar o portal Rap Gospel Brasil clicar com o botão direito do mouse sobre o campo link e em seguida clicar em “Colar”. Veja imagem abaixo:

			<br>
			<%= cl_image_tag("body-img/dicas_de_uso/dicas_video_3.jpg") %>	
		</li>

		
		
	</ol>

</div>
