<div class="container">
	
	
	
	<nav class="menu_faq link">
		<ul>
			<li><%= link_to "Integração", '/faq_integracao', remote: true , class: 'btn_menu_faq' %></li>
			<li><%= link_to "Cadastro", '/faq_cadastro', remote: true , class: 'btn_menu_faq'%></li>
			<li><%= link_to "Anúncios", '/faq_anuncios', remote: true , class: 'btn_menu_faq'%></li>			
		</ul>
	</nav>
	
	<section class="faq">
		
		<h3>Peguntas frequentes</h3>	
		
		<div class="content_faq">
			
		</div>
	</section>
</div>