<div class="modal-dialog">
  <div class="modal-content">
    
  	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Política de Cadastramento, Uso e Aviso Legal</h4>
    </div>

    <div class="modal-body text-justify">
      <h4>Regras Gerais de Uso</h4>

		<p>O site www.rapgospelbrasil.com.br desenvolveu esse portal digital para que novos artistas do meio gospel possam divulgar seus materiais de trabalho de sua banda tais como vídeos, clips, entrevistas, fotos, logos, agenda, entre outros materiais, através da disponibilização do conteúdo neste site para ser visualizada.
		</p>	
		<p>A partir de agora sempre que houver a menção de Material de publicidade, ou, Material de Divulgação, ou Material de Trabalho, deverão ser considerada como uma única coisa, ou a mesma coisa, e que devem compreendem os seguintes itens:
		</p>	
		<li> Músicas (letras, harmonia, acordes, arranjos, et cetera);</li>

		<li> Vídeos (vídeo-clip, gravações de entrevistas, vídeos próprios/documentários, et cetera); </li>

		<li> Imagens/Fotos (logo da banda, de apresentações, fotos dos integrantes, parceiros da banda, staff, cartazes, flyers de divulgação ou promocionais, et cetera); </li>

		<li> Agenda contendo informação de local ou meio, data e hora de apresentação de um, alguns ou todos os integrantes, ao vivo ou gravado, em documentários ou filmes (longas ou curtas), programas de televisão ou rádio;</li>

		<li>Todos eles com enfoque musical, jornalístico, esportivo, cultural, et cetera.</li>

		<p>Todo grupo musical (banda), poderá com qualquer composição e/ou estilo, fazer o upload de conteúdo, que ficará disponibilizando em espaço próprio e exclusivo cada usuário, podendo livremente escolher imagens de exibição, entre outras configurações que ficarão disponíveis para o usuário, em painel de configurações próprio para tanto, bastando, apenas, que o usuário seja cadastrado, conforme as regras próprias de cadastramento.</p>

		<p>A disponibilização somente poderá ser realizada por usuário cadastrado, sendo vetada, de qualquer outra forma. A disponibilização por usuário não cadastrado, será excluída em caráter sumário após a identificação deste conteúdo alienígena, sem qualquer aviso prévio.</p>

		<p>A administração do site Rap Gospel Brasil, no entanto, não fará verificação periódica do conteúdo disponibilizado, no que se refere a autoria ou a violação a qualquer lei vigente, considerando o usuário, ou quem por ele autorizado, que fez a disponibilização detentor do Material de Trabalho.</p>

		<p>Todo o conteúdo de Material de Trabalho disponibilizado dentro do ambiente Rap Gospel Brasil que for classificado como ilegal será deletado do site e as informações guardadas poderão ser entregues as autoridades competentes.</p>

		<p>Declara-se, desde já, que não há nenhum parceria efetuada com o http://creativecommons.org.br, apesar de ser recomendada à todas as bandas, cadastradas ou não neste site, à registrar suas obras e protege-las sob a ótica legal (não sendo, este, o método definitivo de proteção da obra), que não é tido como requisito para o cadastramento no Portal Rap Gospel Brasil.</p>

		<p>O intuito do site é a disponibilização de um espaço para que bandas interessadas na divulgação de suas obras, possam publicar e divulgar seu conteúdo de forma tal a permitir que qualquer pessoa possa ouvir, visualizar imagens, obter convites, ver vídeos, divulgando seu Material de Trabalho.</p>

		<h4>Da Proteção Autoral de que trata a Lei 9.610/98</h4>

		<p>Todo o Material de Trabalho disponibilizado no site Rap Gospel Brasil pelas bandas através de seu usuário, ou por quem este autorizar, sem exceção, poderá ser utilizado no site Rap Gospel Brasil livremente, uma vez que essa condição é requisito para concluir o cadastramento, ou seja, sem que seja necessário pedir outras autorizações.</p>

		<p>O uso, a que se refere o parágrafo acima, deve ser interpretado como utilização de todo o Material de Divulgação das bandas, para a divulgação no portal (home), em menus suspensos, em janelas novas (pop up), em sites de parceiros e/ou colaboradores, sem que isso caracterize uso indevido, pois, independente de nova autorização por escrito, além daquela no ato do cadastramento.</p>

		<p>Todo e qualquer conteúdo artístico relacionado ao Material de Trabalho e Divulgação, poderá ser disponibilizado pelas bandas cadastradas no site, sem que seja necessário comprovar a autoria, principalmente o conteúdo certificado pela Creative Commons.</p>

		<p>Havendo a disponibilização de conteúdo protegido e este for reclamado pelo criador da obra, no todo ou em parte, terá o conteúdo deletado do site e o material reclamado entregue à aquele que apresenta a comprovação de autoria e em caso de dúvida, entregue à autoridade competente.</p>

		<p>Toda a responsabilidade do Material de Trabalho disponibilizado será direcionada ao usuário, ou quem por ele autorizado, que fez o upload do referido conteúdo.</p>

		<p>Nos casos de violação da lei autoral de qualquer tipo de obra, todo o conteúdo suspeito poderá ser bloqueado para exibição e, em um segundo momento, poderá ser excluído do banco de dados, sem aviso prévio, se verificada a violação.</p>

		<p>Ficam reservados os direitos dos usuários que fizeram as disponibilizações o direito de comprovar a autoria, para apresentar sua defesa e tentar comprovar qualquer característica autorizadoras de divulgação ou outra prova que entender pertinente, desde que admitida pelo direito brasileiro, para comprovar ou justificar a sua autoria da obra em debate.</p>

		<p>Não serão toleradas reincidências, principalmente quando não houverem dúvidas da violação autoral, que serão punidas com a suspenção até a exclusão do cadastro.</p>

		<p>Quando for constata a reincidência comprovada, porém, através de outro usuário, este terá o seu cadastro banido podendo ensejar a exclusão/banimento daqueles cadastros envolvidos, além dos cadastros dos integrantes da banda que poderão ter seus cadastros banidos, sem prejuízo das demais perdas e danos que se apure com a conduta lesiva.</p>

		<p>Havendo a denúncia de violação, instaurar-se-á procedimento de verificação e o resultado desta análise será enviado ao e-mail cadastrado do infrator para que este possa se defender.</p>

		<h4>Da Proteção Contra atos Tipificados como Crime</h4>

		<p>Não será permitida qualquer obra que contenha incentivo ou apologia ao crime.</p>

		<p>Serão considerados crimes, todos aqueles que a lei Brasileira assim definir em lei promulgada, observando-se todos os preceitos legais necessários.</p>

		<p>Havendo a modificação de qualquer das leis que definem e/ou tipificam quais sãos os crimes, seja excluindo-os ou incluindo-os, mesmo que alterando parcialmente de qualquer forma, será automaticamente pela administração deste site.</p>

		<p>Atos ou condutas obscenas, incentivo ou apologia à atos tipificados, preconceito de qualquer natureza, instigação ao cometimento de ato considerado crime, poderão acarretar a suspenção ou a exclusão, conforme o caso, o que será analisado por critérios exclusivos dos administradores, sempre observando-se a liberdade de expressão (art. 5º, IV e IX da CF/88), a ampla defesa e contraditório (art. 5º, LV da CF/88).</p>

		<h4>Do Cadastramento</h4>

		<p>O cadastramento da banda no site www.rapgospelbrasil.com.br será efetuado da seguinte forma:</p>

		<p>i. A banda terá o seu cadastro efetuado em nome e responsabilidade de uma única pessoa, independentemente de quantos integrantes tenha a grupo ou a banda;</p>

		<p>ii. O cadastro não depende de autorização de ninguém do staff deste site sendo a liberação e uso imediatos;</p>

		<p>iii. O perfil da banda/grupo somente será liberada após análise prévia dos administradores do portal;</p>

		<p>iv. A pessoa que cadastra a banda, torna-se o responsável por todo o conteúdo e confirma, no ato do cadastramento, que detém ou possuiu de alguma forma autorização para a divulgação de todos o Material de Trabalho a ser disponibilizado no ambiente do site em qualquer momento;</p>

		<p>v. O usuário cadastrado será o único responsável por qualquer violação;</p>

		<p>vi. A sincronia com o FB não é obrigatória, mas deve ser autorizada pelo usuário;</p>

		<p>vii. Podem ser disponibilizados links (EMBED) de outros sites, através de painel de controle de administração próprio, observando-se as regras autorais;</p>

		<p>viii. No ato do cadastramento o usuário concorda e autoriza, que a Administração do site faça uso de todo o conteúdo de Material de Trabalho disponibilizado no perfil dos usuários, parcial ou integralmente, em qualquer suporte existente ou que venha a ser criado, seja para divulgação do site, da banda ou ambos, livre e independente de qualquer autorização futura ou específica, oneroso ou não, remunerado ou não, sem que, com isso, incida em violação de autoral ou qualquer outro tipo contravenção legal.</p>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
    </div>
  </div>
</div>


