<div class="faq_cadastro">
	<h4><i class='glyphicon glyphicon-chevron-down'></i> Conteúdo dos artistas no portal</h4>

	<ul>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Posso postar qualquer informação no portal?</strong>
			<p>
				O Portal Rap Gospel Brasil não se responsabiliza por qualquer informação postada por artistas cadastrados, portanto pedimos que tome bastante cuidado com todo conteúdo que for postar. Qualquer dúvida acesse nossas páginas de Termo de uso e Política de privacidade.
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Sou um artista gospel e foi criado um login no portal sem meu consentimento como devo proceder?</strong>
			<p>
				Pedimos que nesta situação entre em contato através do email: portalrapgospelbrasil@gmail.com e mencione o máximo de informações possível para assim podermos analizar e tomar as devidas providencias.
			</p>
		</li>
	</ul>

</div>

<script>
	$('.faq ul li > strong:eq(0)').click(function() {
		  $('p:eq(0)').toggle(100);		  
		  $('ul li i:eq(0)').toggleClass('rotate'); 
 	});
 	$('.faq ul li > strong:eq(1)').click(function() {
		  $('p:eq(1)').toggle(100);		  
		  $('ul li i:eq(1)').toggleClass('rotate'); 
 	});
</script>