<div class="faq_cadastro">
	<h4><i class='glyphicon glyphicon-chevron-down'></i> Integração</h4>

	<ul>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong></strong>
			<p>
				
			</p>
		</li>
	</ul>

</div>