<div class="faq_cadastro">
	<h4><i class='glyphicon glyphicon-chevron-down'></i> Sobre o Portal Rap Gospel Brasil</h4>

	<ul>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>O que é o Rap Gospel Brasil?</strong>
			<p>
				O Rap Gospel Brasil é um portal voltado totalmente ao Rap Gospel Nacional, todo artista voltado ao Rap Gospel pode se cadastrar.
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Qual o objetivo?</strong>
			<p>
				O Portal Rap Gospel Brasil vem com o objetivo de ajudar os artistas a alcançarem mais vidas! Ajudando na divulgação do seu ministério, grupo, banda e etc.
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Porque foi criado?</strong>
			<p>
				Devido a dificuldade em alcançar e conhecer novos artistas do Rap Gospel, fomos pensando em uma maneira de tentar centralizar o maior número desses artistas em um só lugar. Por isso surgiu o portal Rap Gospel Brasil.
			</p>
		</li>
	</ul>

</div>

<script>
	$('.faq ul li > strong:eq(0)').click(function() {
		  $('p:eq(0)').toggle(100);		  
		  $('ul li i:eq(0)').toggleClass('rotate'); 
 	});
 	$('.faq ul li > strong:eq(1)').click(function() {
		  $('p:eq(1)').toggle(100);		  
		  $('ul li i:eq(1)').toggleClass('rotate'); 
 	});
 	$('.faq ul li > strong:eq(2)').click(function() {
		  $('p:eq(2)').toggle(100);		  
		  $('ul li i:eq(2)').toggleClass('rotate'); 
 	});
</script>