<div class="faq_cadastro">
	<h4><i class='glyphicon glyphicon-chevron-down'></i> Cadastro</h4>

	<ul>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Todos podem ter um cadastro no portal Rap Gospel Brasil</strong>
			<p>
				Todo artista gospel voltado ao rap / hip hop pode ter um cadastro no portal.
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>O cadastro é pago?</strong>
			<p>	
				Não é cobrado nenhum valor para os artistas cadastrados.	
			</p>	
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Porque deve me cadastrar?</strong>
			<p>
				O portal Rap Gospel Brasil é uma excelente platagor de divulgação do seu trabalho e ministério e totalmente gratuito.
			</p>
		</li>
	</ul>

</div>