<div class="faq_cadastro">
	<h4><i class='glyphicon glyphicon-chevron-down'></i> Conteúdo geral do portal</h4>

	<ul>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Gostaria de enviar uma notícia como posso enviar?</strong>
			<p>
				Todo conteúdo de noticias dos shows e eventos devem ser enviados através do email portalrapgospelbrasil@gmail.com juntamente com as imagens.	
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Qual o prazo para postarem minha noticia?</strong>
			<p>
				Pedimos o prazo de ao menos 5 dias para analizar-mos o conteúdo enviado.
			</p>
		</li>
		<li><i class='glyphicon glyphicon-chevron-right'></i>
			<strong>Não concordo com algum tipo de conteúdo postado no portal.</strong>
			<p>
				O Portal Rap Gospel Brasil não carrega nenhuma “bandeira”  portanto todo conteúdo voltado ao evangélio COM BASE NAS ESCRITURAS é bem vindo. Mas nos envie um email e com certeza analizare-mos.
			</p>
		</li>
	</ul>

</div>

<script>
	$('.faq ul li > strong:eq(0)').click(function() {
		  $('p:eq(0)').toggle(100);		  
		  $('ul li i:eq(0)').toggleClass('rotate'); 
 	});
 	$('.faq ul li > strong:eq(1)').click(function() {
		  $('p:eq(1)').toggle(100);		  
		  $('ul li i:eq(1)').toggleClass('rotate'); 
 	});
 	$('.faq ul li > strong:eq(2)').click(function() {
		  $('p:eq(2)').toggle(100);		  
		  $('ul li i:eq(2)').toggleClass('rotate'); 
 	});
</script>