<% if @artist_data.phones.empty? %>
	<h5>Não possui contato cadastrado </h5>
<% else %>
	<div class="contato-telefone">
		<div class="phones emails">
			<ul>				
				<% @artist_data.phones.each do |tel| %>	
					<div class="show-contato-artista">
						<li>
						<i class='glyphicon glyphicon-earphone'></i>
						<strong>Telefone:</strong> <br>
						<%= tel.telefone %> <br />
						</li>
					</div>
				<% end %>
			</ul>
		</div>
		
		<div class="emails posiciona-email">
			<ul>
				<% @artist_data.emails.each do |email| %>	
					<div class="show-contato-artista">
						<li>
							<i class='glyphicon glyphicon-envelope'></i>
							<strong>Email:</strong>	<br>
							<%= email.email %> <br/>
						</li>
					</div>	
				<% end %>
			</ul>
		</div>
	</div>
<% end %>