<div class="blueberry">
  <ul class="slides">
    <li><%= link_to cl_image_tag("body-img/marketing/Banner-Download-Mixtape-RapCristao.jpg"),'https://www.4shared.com/rar/wedvontMba/Mixtape_Brasil_Rap_Cristo__201.html', target: '_black' %></li>
    <li><%= link_to cl_image_tag("body-img/banner-prinicipal/BannerPrincipal02.jpg"), '#' %></li>    
    <li><%= link_to cl_image_tag("body-img/banner-prinicipal/DJMax.jpg"), '#' %></li>            
    <li><%= link_to cl_image_tag("body-img/banner-prinicipal/WL-Studio.jpg"),'http://www.wlstudio.com.br/', target: '_black' %></li>    
  </ul>
<!-- Optional, see options below -->
  <ul class="pager">
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>    
  </ul>
<!-- Optional, see options below -->
</div>
