<div class="blueberry">
  <ul class="slides">
    <li><%= cl_image_tag("body-img/BannerPrincipal01.jpg") %></li>
    <li><%= cl_image_tag("body-img/BannerPrincipal02.jpg") %></li>    
    <li><%= cl_image_tag("body-img/BannerPrincipal03_DJMAX2.jpg") %></li>    
  </ul>
<!-- Optional, see options below -->
  <ul class="pager">
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>    
  </ul>
<!-- Optional, see options below -->
</div>
