<div class="blueberry">
  <ul class="slides">
    <li><%= cl_image_tag("body-img/banner-prinicipal/dj-max.jpg") %></li>
    <li><%= cl_image_tag("body-img/banner-prinicipal/rap-gospel1.jpg") %></li>    
    <li><%= cl_image_tag("body-img/banner-prinicipal/rap-gospel.jpg") %></li>    
  </ul>
<!-- Optional, see options below -->
  <ul class="pager">
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>    
  </ul>
<!-- Optional, see options below -->
</div>
