<div class="left">	
	
		<span class="text-ultima">&Uacute;LTIMAS </span> <span class="titulo-noticia">NOTÍCIAS</span>

		<span class="titulo" >			
			<h4>				
				<%= @noticia.titulo %>
			</h4>
			<div class="botao-veja-mais-ultima-noticia">
				<%= link_to "LEIA AGORA", "/show_noticia/#{@noticia.id}", remote: true , class: 'btn-default-index' if !@noticia.nil? %>
			</div>
		</span>
		
		<span class="noticia text-justify " id="imagem">
			<span class="imagem-noticia">
				<%= image_tag(@noticia.imagem.url(:small)) if @noticia.present?  %>				
				<%= sub_texto(raw(@noticia.noticia),350) if !@noticia.nil? %>
			</span> 
		</span>
	
</div>