<h2>PALAVRAS</h2>
<% if @palavras.empty? %>
	<h5>Não possui palavra cadastrada!</h5>
<% else %>	
	<div class="palavras">
		<% i = 0 %>
		<% @palavras.each do |palavra| %>
			<div class="palavra-index">
				<%= image_tag(palavra.logo.url(:thumbnail)) if palavra.logo.present?  %>					
				<div class="texto-palavra">
					<h4><%= link_to "#{palavra.titulo.capitalize}", "/show_palavra/#{palavra.id}", remote: true %></h4>
					
					<%= sub_texto(palavra.texto,200) %>	
				</div>
				<br />					
			</div>	
			
			
   			
   			

		 <% end %>
			<% if @palavras.count >= 2 %>
				<div class="link-veja-mais">
					<%= link_to "Veja Mais", '/palavras' , remote: true, class: 'btn-default-index' %>
				</div>
			<% end %>
		
	</div>
<% end %>	
