<div class="container">
	<div class="pag-quem-somos text-justify">		
		<h2>Quem Somos</h2>

		<p>O Portal Rap Gospel Brasil, vem surgindo com o objetivo de abrir mais espaço para os grupos que estão iniciando, e que tem como objetivo pregar o evangélio de Jesus Cristo.
		</p>
		<p>
		Acompanhando outros grandes portais de música, sentimos a necessidade de criar algo voltado ao público gospel, que para honra e glória de Deus vem crescendo a cada dia!
		</p>
		<p>
		Então desenvolvemos este portal, já que sempre que buscavamos conteúdo (vídeos, músicas, notícias, etc..) não conseguia-mos achar com facilidade.
		</p>
		<p>
		Hoje com o portal Rap Gospel Brasil, conseguimos centralizar este conteúdo e assim ajudar na propagação dos trabalhos e assim alcançar mais vidas.
		</p>
		<p>
		Deus vem honrando este projeto com parceiros e amigos que acreditam e confiam na veracidade do trabalho que propomos com o portal.
		</p>
		<p>
		Seja bem vindo ao portal Rap Gospel Brasil curta nosso facebook e fique atualizado sobre as novidades do Rap Gospel.
		</p>
	</div>
</div>