<div class="img-ultimo-artista">
	<%= cl_image_tag("body-img/UltimoArtista.jpg")%>
</div>
<% if !@artistas.empty? %>
	<div class="ultimos-artistas">		
		<ul>
			<% @artistas.each do |artista| %>
				<!--<li><img src="https://robohash.org/YOUR-TEXT.png?size=125x100"> </li>-->
				<% if artista.logo.present? %>
				<li><%= link_to(image_tag(artista.logo.url(:small), :class => 'img-rounded'),"/show_artista/#{artista.id}") %> </li>
				<% else %>
					<li><%= link_to(image_tag("ImagemArtistaSemFoto.png", with:'120px', height:'120px', class: 'img-rounded'),"/show_artista/#{artista.id}") %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>

