<div class="right">
	<span class="text-ultima">&Uacute;LTIMO </span> <span class="titulo-noticia">VÍDEO</span>	
	<div class="imagem-noticia">
		<% if @video.nil? %>
			<h5>Não existem video cadastrado!!</h5>
		<% else %>			
			<%= raw(@video.link)  %>				
			<div class="link-veja-mais">
				<%= link_to "Mais Vídeos", '/videos' , remote: true, class: 'btn-default-index' %>
			</div>
		<% end %>

	</div>
</div>