footer {	
	width: 100%;
	margin-top: -70px;
	position: relative;	
}

.teste {
	height: 20px;
	background-color: #000;
	top: 10px;
	bottom: 0px;
}

.mapa-do-site {	
	height: 200px;
	background-color: #8E0000;	
	z-index: 2;
}


