footer {
	bottom: 0 !important;
	width: 100%;		
}

.teste {
	height: 20px;
	background-color: #000;
	top: 10px;
	bottom: 0px;
}

.mapa-do-site {	
	height: 231px;
	background-color: #8E0000;	
	z-index: 2;
}


