footer {
	position: relative;		
	width: 100%;	
	background-color: black;
}

.teste {
	height: 20px;
	background-color: #000;
	top: 10px;
	bottom: 0px;
}

.mapa-do-site {	
	height: 200px;
	background-color: #8E0000;	
	z-index: 2;
}


