textarea {
	resize: none;
	width: 100%;
	height: 100px;
}

a:active, a:hover, a:visited, a:link {
	text-decoration: none;	
}

.container {
	position: relative;
	width: 1002px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}

.container-videos {
	width: 92%;
	margin:0 auto;
}



