textarea {
	resize: none;
	width: 100%;
	height: 100px;
}

.link a:active,.link a:hover,.link a:visited {
	color: #fff;
}

a:active, a:hover, a:visited, a:link {
	text-decoration: none !important;	
}

.container {
	position: relative;
	width: 1002px !important;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}

.container-videos {
	width: 92%;
	margin: 0 auto;
}



