

a:active, a:hover, a:visited, a:link {
	text-decoration: none;
}

.container {
	width: 1002px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}

.container-videos {
	width: 92%;
	margin:0 auto;
}



