a:active, a:hover, a:visited, a:link {
	text-decoration: none;
}

.container {
	width: 1002px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}



body {
	min-width: 999px;
	height: 100%;
	background-image: url("FundoPagina.jpg");
	top:-10px;
	
}

