<% if !@status.nil? %>
  <p>
    <div class="alert alert-success mensagem" id="mensagem"></div>
  </p>  
<% end %>

<div class="videos">
	<!-- pag do Admin -->

	<% if @videos.nil? && @artist_data.videos.empty? %>
		<h5>Não possui video cadastrado </h5>		
	<% elsif @videos.nil? && !@artist_data.videos.empty? %>		
		
		<% @artist_data.videos.each do |video| %>							
			<%= add_video(video.link) %>								
		<% end %>
	<% end %>
</div>

