	<% if artist_signed_in? %>  	  	
		<%= link_to 'Sair', destroy_artist_session_path, method: :delete ,:class => 'btn-sm btn btn-default' %>
		<%= link_to 'Perfil', principal_path ,:class => 'btn-sm btn btn-default' %>
	<% else %>
		<%= link_to 'Novo Artista', new_artist_registration_path, :class => 'btn-sm btn btn-default' %>
		<%= link_to 'Area Restrita', new_artist_session_path, :class => 'btn-sm btn btn-default' %>
	<% end %>

	<div class="logo"></div>
	<div class="fundo"></div>	
