
	<nav class="menu">
		<ul>
			<li><a href="#">QUEM SOMOS</a></li>
			<li><%= link_to "ARTISTAS", artist_datas_path %></li>
			<li><a href="#">EVENTOS</a></li>
			<li><a href="#">FOTOS</a></li>
			<li><a href="#">V&Iacute;DEOS</a></li>
			<li><a href="#">NOT&Iacute;CIAS</a></li>
			<li><a href="#">PALAVRAS</a></li>
			<li><a href="#">CONTATO</a></li>
		</ul>   	
	</nav>
