
	<nav class="menu">
		
			<ul>
				<li><a href="#">QUEM SOMOS</a></li>
				<li><%= link_to "ARTISTAS", '/artistas', remote: true %></li>
				<li><a href="#">EVENTOS</a></li>
				<li><a href="#">FOTOS</a></li>			
				<li><a href="#">V&Iacute;DEOS</a></li>
				<li><%= link_to "NOTÃCIAS", '/noticias' , remote: true %></li>
				<li><%= link_to "PALAVRAS", '/palavras' , remote: true %></li>
				<li><a href="#">CONTATO</a></li>
			</ul>
	</nav>

