	<header>		
		<div class="img-fundo">
			<%= render "cabecalho" %>
		</div>

		<div class="container">			
			<%= render "menu" %>
		</div>
	</header>
	<!-- Corpo Principal -->
	<div class="corpo">
		<div class="container">
			<div class="body">
				<%= render 'welcome/corpo' %>
			</div>

		</div>
	</div>	
	<footer>
		<div>
			<%= render 'welcome/rodape' %>
		</div>
	</footer>
