<% if !@status.nil? %>
	<% if @action = 'update' %>
		 <%= alert(@status, 'Release atualizada com sucesso!') %>
	<% end %>
<% end %>

<p>
  <strong>Release:</strong>
  <% unless @artist_data.nil? %>
  	<%= raw(@artist_data.history.historia) if @artist_data.history.present? %> 
  <% end %>
</p>

<%= link_to 'Editar', edit_history_path(@artist_data.history.id), class: 'btn btn-default', remote: true %>
