

<p>
  <strong>História:</strong>
  <% if !@artist_data.nil? %>
  	<%= raw(@artist_data.history.historia)%> 
  <% end %>
</p>

<%= link_to 'Editar', edit_history_path(@artist_data.history.id), class: 'btn btn-default', remote: true %>
