<% if !@status.nil? %>  
    <%= 
      case @action
      when 'create'
         alert(@status, 'Palavra criado com sucesso!')
      when 'update'    
         alert(@status, 'Palavra atualizada com sucesso!')
      when 'destroy'      
         alert(@status, 'Palavra removido com sucesso!')
      end    
      %>  
<% end %>

  <% if @profile == "admin" %>
    <p>
      <%= link_to 'Adicionar Palavra', '/nova_palavra/admin', remote: true ,:class => 'btn btn-default'  %>  
    </p>
    
  <% end %>
  <% if @words.empty? %>
    <div class="container">
      <h5>Não existem palavras cadastradas</h5>  
    </div>
<% else %>  
    <%= render 'words/word' %>  
<% end %>



