/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
 *= require_tree .
*/
 /*@import "bootstrap";*/


#mensagem {
	position: fixed;
	width: 100%;
	margin-top: 0px;
	height: 50px;
	top: 0px;
	z-index: 999999999;
	left: 0px;
}

.corpo {
	position: relative;	
	height: auto;
	padding-top: 20px;
}

.po1sicionamento {
	position: relative;
	margin-top: 20px;
}

.perfil-display {
	left: 140px;
}


.sub-menu {	
	position: relative;
	width: 568px;			
	top: -350px;
	left:-20px;
}

.sub-menu ul li {
	position: relative;
	display: inline-block;
	list-style: none;
}



/* DISCOGRAFIA SHOW */
.text-aling {
	text-align: center;
}

.painel-show-adm {
	position: relative;
	display: inline-block;
	margin: 20px;
	max-width: 193px;
	max-height: 200px;	
	
}

.painel-show-adm p {
	margin: 10px 5px;
}


.painel-image {
	position: relative;
	width: 500px;
	height: 390px;
	left: 11px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-o-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);

}

.painel-sem-agenda {
	position: relative;
	top: -390px;
	width: 415px;
	border-radius: 2px;
	left: 550px;
	height:450px;
	background-color: #eee;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-o-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	padding: 10px;

}

.painel-agenda {
	position: relative;
	top: -390px;
	width: 415px;
	border-radius: 2px;
	left: 550px;
	height:450px;
	background-color: #eee;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-o-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
}
.item-artista {
	position: relative;
	display: inline-block;
	margin: 20px;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
}

.dados-login {
	text-align: right;
	font-size: 14px;
	width: 100%;
	height: 120px;
	padding: 20px;
	background-image: url("http://res.cloudinary.com/dgql7hcka/image/upload/v1465059422/body-img/TopoPainel.jpg");

}

.logotipo {
	width: 120px;
	height: 127px;	
	position: absolute;

	left: 10px;
	background-image: url("http://res.cloudinary.com/dgql7hcka/image/upload/v1465059416/body-img/LogoPainelArtista.jpg");	
	z-index: 3;
}


/* Cotato Show*/
.contato-telefone {
	

}

.contato-email {
	position: absolute;
	height: auto;
	left: 184px;
	top: 25px;
}

/*principal*/

.sidebar {
	margin: 10px 10px;
	position: relative;
	width: 150px;
	height: 100%;	
	top: 25px;
}

.painel-artistas-art, .painel-artistas-adm {
	position: relative;
	left: 200px;
	width: 79%;
	min-height: 220px;
	padding: 5px 10px;
		
}

.painel-artistas-art {
	
	top: -366px;
}



.painel-artistas-adm {
	top: -207px;
}

.novo {
	margin: 20px;
}

.icoRedeSocial {
	width: 42px;
	height: 42px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.painel-redesocial {
	width: 100%;
}

.artista-nao-aprovado {
	position: relative;
	top: 30px;
}


.container-contato, .container-album, .container-videos, .container-agenda, .container-historia, .container-redesocial {
	position: relative;
	border: 1px solid #eee;
	width: 100%;
	height: auto;
	padding: 10px 5px;
}


.painel-show-info {
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 100px;
	margin: 10px auto;
	padding: 10px 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 2px #ccc;
	-webkit-box-shadow: 1px 2px #ccc;
	-moz-box-shadow: 1px 2px #ccc;
	-o-box-shadow: 1px 2px #ccc;
}

.painel-login {
	position: relative;
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.painel-login a:active,.painel-login a:hover,.painel-login a:visited,.painel-login a:link {
	color: #ffffff;
}

.painel-login + label {
	color: #dd1111;
}

#loading {
	position: absolute;	
	width: 335px;
	padding: 2px 0px 0px 35px;	
}

#loading img {
	height: 15px;
}


.mascara {
	display: none;
	width: 250px;
	height: 30px;
	position: fixed;
	right: 50%;
	left: 50%;	
	margin-left: -142px;	
	background-color: #FFE57E;	
	z-index: 99;
}

.text-perfil {
	position: relative;
	float: left;
	margin-top: 13px;
	list-style: none;
}

.container {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}

.painel-video {
	width: 560px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:20px; 
	border: 1px solid #eee;
}

.vid1eos {
	position: relative;
	width: 560px;
	display:inline-block;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}


.imagem-noticia-show {	
	float: left;	
	padding-right: 15px;	
}

.imagem-noticia-list {	
	float: left;	
	padding-right: 15px;	.
	margin-top: 22px;
}
.palavras {
	width: 100%;
}

.palavras p {
	position: relative;
	/*float: left;*/
	vertical-align: middle;

}

.videos-perfil {
	width: 530px;
}

.videos  {
	width: 100%;	
	list-style: none;
}

.videos ul li {
	display: inline-block;
	margin: 10px 0px ;
}

.videos ul {

	margin-left: -45px;
}
.top5 tr td {
	padding: 3px;
}

.pag-show {
	padding: 20px;
}

.clear {
	clear: both;
}

.controle-login {
	margin-top: 20px;
	display: inline-block;	
}

.painel-artistas {	
	
	margin: -400px auto 50px auto;
	left: 5px;
	height: auto;
	padding:60px 10px 5px 10px;
	width:98%;
	background-color: #eee;	
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
	-o-box-shadow: 2px 2px 3px rgba(0,0,0,0.18);
}



/*devise */


@media screen and (max-width: 1199px) {
	.pag-login {	
		background-image: url('http://res.cloudinary.com/dgql7hcka/image/upload/v1464892071/backgroundcadastro_canrd8.jpg');
		background-repeat: no-repeat;
		background-size: 100% 833px;
		background-position: 0 -120px;		
		height: 713px;
		margin-top: -36px;
	}

}

@media screen and (min-width: 1200px) {
	.pag-login {	
		background-image: url('http://res.cloudinary.com/dgql7hcka/image/upload/v1464892071/backgroundcadastro_canrd8.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: 0 -120px;
		width: 100%;
		min-height: 673px;
		height: 713px;
		margin-top: -76px;
	}
}



.painel-login {	
	top: 140px;
	left: -150px;
	color:#fff;
}

.btn-topo {
	display: none;
	position: fixed;
	position:fixed;
	top:595px;
	right:40px;
	background-color: rgba(87, 183, 221, .5);
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.btn-topo i {
	position: fixed;
	top:608px;
	right:54px;
	font-size: 2rem;
	color: #17407D;
}

.btn-topo:hover i {
	color: #17407D;	
}

.btn-topo:hover {
	background-color: rgba(87, 183, 221, 1);
}