/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
 *= require_tree .
*/
 /*@import "bootstrap";*/
#mensagem {
	position: fixed;
	width: 100%;
	margin-top: 0px;
	height: 50px;
	top: 0px;
	z-index: 2;
	left: 0px;
}

.corpo {
	position: relative;	
	padding-top: 20px;
}

.posicionamento {
	position: relative;
	margin-top: 20px;
}


.sub-menu {	
	position: relative;
	width: 701px;
	margin-right: auto;
	margin-left: auto;	
}

.sub-menu ul li {
	position: relative;
	display: inline-block;
	list-style: none;
}



/* DISCOGRAFIA SHOW */
.text-aling {
	text-align: center;
}

.painel-show-adm {
	position: relative;
	display: inline-block;
	margin: 20px;
	max-width: 193px;
	max-height: 200px;	
	
}

.painel-show-adm p {
	margin: 10px 5px;
}

.painel-show {
	position: relative;
	height: 320px;
	width: 999px;
	margin-left: auto;
	margin-right: auto;

}

.painel-image {
	position: absolute;
	left: 50px;

}

.painel-agenda {
	position: absolute;
	left: 600px;
}
/* ARTIST-DATA */
.item-artista {
	position: relative;
	display: inline-block;
	margin: 20px;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
}

.dados-login {
	text-align: right;
	font-size: 16px;
	width: 100%;
	height: 90px;
	padding: 20px;
}


/* Cotato Show*/
.contato-telefone {

}

.contato-email {
	position: absolute;
	height: auto;
	left: 184px;
	top: 25px;
}

/*principal*/

.sidebar {
	margin: 10px 10px;
	position: relative;
	width: 150px;
	height: 100%;	
}

.painel-artistas-art, .painel-artistas-adm {
	position: relative;	

	left: 200px;
	width: 807px;
	height: 100%;
	padding: 5px 10px;
		
}

.painel-artistas-art {
	top: -323px;
}



.painel-artistas-adm {
	top: -232px;
}

.novo {
	margin: 20px;
}

.icoRedeSocial {
	width: 42px;
	height: 42px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.painel-redesocial {
	width: 100%;
}

.artista-nao-aprovado {
	position: relative;
	top: 30px;
}

.container-noticias {
	margin: 10px;
	padding: 0px 15px 50px;
	border: 1px solid #ccf;
	height: auto;
}

.container-contato, .container-album, .container-videos, .container-agenda, .container-historia, .container-redesocial {
	position: relative;
	border: 1px solid #eee;
	width: 100%;
	height: auto;
	padding: 10px 5px;
}


.show-info {
	position: relative;
	display: inline-block;
	min-width: 200px;
	min-height: 100px;
	margin: 10px;
	padding: 10px 5px;
	border: 1px solid #000;
}

.painel-login {
	position: relative;
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#loading {
	position: absolute;	
	width: 335px;
	padding: 2px 0px 0px 35px;	
}

#loading img {
	height: 15px;
}


.mascara {
	display: none;
	width: 250px;
	height: 30px;
	position: fixed;
	right: 50%;
	left: 50%;	
	margin-left: -142px;	
	background-color: #FFE57E;	
	z-index: 99;
}

.text-perfil {
	position: relative;
	float: left;
	margin-top: 13px;
	list-style: none;
}

.container {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}

.painel-video {
	width: 560px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:20px; 
	border: 1px solid #eee;
}



.videos {
	position: relative;
	width: 560px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

.imagem-noticia {	
	float: left;	
}

.imagem-noticia p {
	margin-top: 20px;
}

.imagem-noticia-show {	
	float: left;	
	padding-right: 15px;	
}

.imagem-noticia-list {	
	float: left;	
	padding-right: 15px;	
	margin-top: -15px;
	
}

.palavras p {
	position: relative;
	float: left;
	vertical-align: middle;

}

.videos  {
	width: 100%;
	padding: 5px;
	list-style: none;
}

.videos ul li {
	display: inline-block;
}

.top5 tr td {
	padding: 3px;
}

.pag-show {
	padding: 20px;
}