// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'estilo_index/header_estilo';
@import 'estilo_index/body_estilo';
@import 'estilo_index/footer_estilo';
@import 'estilo_index/principal_estilo';

