<%= simple_form_for(@email, remote: true) do |f| %>
  <%= f.error_notification %>

  
  <div class="field">
    <%= f.input :email, autofocus: true %><br>
  </div>
  <div class="actions">
    <%= f.button :submit, 'Adicionar Email' %>
  </div>
<% end %>
