

<%= image_tag @discography.logo.url(:thumb) %>

<p>
  <strong>Artist data:</strong>
  <%= @discography.artist_data.nome %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @discography.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= @discography.data %>
</p>

