<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= render 'welcome/partial_index/head' %>
  </head>
  
  <body>
	
	
    
    <section>
		<%= yield %>
	</section>
	<div id="product-modal" class="modal fade"></div>
    
    <a href="#" class='btn-topo'><i class='glyphicon glyphicon-chevron-up'></i></a>
    
    
  </body>
</html>
